@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&family=Montserrat:wght@300;400;500;600;700;800;900&display=swap");

/* Hero Section Css */

.gallery-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1920px;
  padding: 0 15px;
  position: relative;
}

.gallery-sec {
  float: left;
  width: 100%;
  padding: 80px 100px 0 100px;
  background: url("../../public/assets/images/client/roof-water-proofing-banner.jpg")
    no-repeat;
  background-position: center;
  background-size: cover;
  color: #fff;
}

.gallery-sec .gallery-main-inner .gallery-main-title {
  font-family: Montserrat;
  font-size: 50px;
  font-weight: 900;
  line-height: 62px;
  letter-spacing: 0em;
  text-align: left;
}

.gallery-sec .gallery-main-inner .gallery-main-title .main-title-color {
  color: #1386d3;
  font-family: Montserrat;
  font-size: 50px;
  font-weight: 900;
  line-height: 62px;
  letter-spacing: 0em;
  text-align: left;
}

.gallery-sec .gallery-main-inner .gallery-main-title::after {
  content: "";
  display: block;
  margin: 18px 0 25px;
  width: 100px;
  height: 2px;
  background-color: #dff3e4;
}

.gallery-sec .gallery-main-inner p {
  color: #e9eef3;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 1px;
  text-transform: capitalize;
}

.gallery-sec .gallery-main-inner .gallery-btn-sec {
  display: flex;
  margin-top: 50px;
}


.gallery-btn1 {
  font-weight: 600;
  padding: 10px 30px;
  line-height: 30px;
  margin-right: 20px;
  background-color: #1386d3;
}

.gallery-btn2 {
  font-weight: 600;
  padding: 10px 30px;
  line-height: 30px;
  background-color: transparent;
  color: #fff;
  border: 1px solid #fff;
}

/* Image section css */
.gallery-image-sec {
  padding: 100px;
  float: left;
  width: 100%;
}

.gallery-image-sec .gallery-image-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1920px;
  padding: 0 15px;
  position: relative;
}

#gallery-main-images {
  padding: 5px;
}

.gallery-image-sec
  .gallery-image-container
  .gallery-image-main-inner
  .gallery-inner-images {
  padding-top: 8px;
}

/* Responsive Desing */

@media (max-width: 1450px) {
  .gallery-image-sec .gallery-inner-images {
    width: 100%;
    height: auto;
  }
}

@media (max-width: 1199.98px) {
  .gallery-image-sec {
    padding: 20px;
  }
}

@media (max-width: 991px) {
  .gallery-image-sec {
    padding: 20px;
  }
}

@media (max-width: 767.98px) {
  .gallery-sec {
    padding: 30px;
  }
  .gallery-sec .gallery-main-inner .gallery-main-title,
  .gallery-sec .gallery-main-inner .gallery-main-title .main-title-color {
    font-size: 42px;
    line-height: 50px;
    margin: 0 0 30px 0;
  }
  .gallery-sec .gallery-main-inner p {
    font-size: 16px;
    line-height: 26px;
  }

  .gallery-btn1,
  .gallery-btn2 {
    padding: 6px 20px;
    font-size: 11px;
  }
  .gallery-btn1 {
    margin-right: 10px;
  }
  .gallery-image-sec {
    padding: 20px;
  }
}

@media (max-width: 576px) {
  .gallery-sec {
    padding: 10px;
  }

  .gallery-btn1,
  .gallery-btn2 {
    font-size: 10px;
    font-weight: 600;
    /* line-height: 20px; */
    text-align: center;
    padding: 10px;
  }
  .gallery-btn1 {
    margin-right: 10px;
  }
  .gallery-image-sec {
    padding: 10px;
  }
}
