/* HERO SECTION START */
.product_view_main {
  width: 80%;
  margin: 0px auto;
}

.view_product_back_arrow {
  font-size: 15px;
  letter-spacing: 2px;
  padding: 180px 0px 0px 0px;
}

.product_view_hero_section {
  display: flex;
  margin: 50px 0px 0px 0px;
}

.product_view_image {
  width: 700px;
  height: auto;
}

.product_view_hero_section_right_conent {
  margin-left: 50px;
}

.product_view_hero_section_title {
  font-family: Montserrat;
  font-size: 40px;
  font-weight: 900;
  line-height: 54px;
  color: #1386d3;
}

.product_view_hero_section_title:after {
  content: "";
  width: 60px;
  height: 2px;
  display: block;
  background-color: #1386d3;
  margin: 20px 0px;
}

.product_view_hero_section_second_title {
  /* font-family: Inter;
  font-size: 25px;
  font-weight: 400;
  line-height: 38px;
  margin-top: 30px; */
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
  margin-top: 30px;
}

.product_view_hero_section_desc {
  font-family: Inter;
  font-size: 15px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.05em;
  outline-color: #5a5e62;
  margin-top: 30px;
}

.product_view_hero_section_btn {
  padding: 5px 25px;
  margin-top: 40px;
  height: 35px;
  font-size: 12px;
  font-weight: 600;
  background-color: #1386d3;
  color: white;
  border-radius: 20px;
}

.product_view_hero_section_btn:hover {
  background-color: #07070a;
}

@media screen and (max-width: 1240px) {
  .product_view_hero_section_title {
    font-size: 30px !important;
    font-weight: 700;
  }

  .product_view_hero_section_title:after {
    margin-top: 10px;
  }

  .product_view_hero_section_second_title {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 0;
  }

  .product_view_hero_section_desc {
    font-size: 13px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 10px;
  }

  .product_view_hero_section_btn {
    margin-top: 10px;
  }
}

@media only screen and (min-width: 500px) and (max-width: 950px) {
  .product_view_hero_section {
    display: block;
  }

  .product_view_hero_section_right_conent {
    margin: 0;
  }

  .product_view_hero_section_title {
    font-size: 35px !important;
    font-weight: 700;
    margin-top: 20px;
  }

  .product_view_hero_section_title:after {
    margin-top: 10px;
  }

  .product_view_hero_section_second_title {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 0;
  }

  .product_view_hero_section_desc {
    font-size: 13px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 10px;
  }

  .product_view_main {
    width: 80%;
    margin: 10px auto;
  }

  .product_view_image {
    width: 320px;
    height: auto;
  }
}

@media only screen and (max-width: 500px) {
  .product_view_hero_section {
    display: block;
  }

  .product_view_hero_section_right_conent {
    margin: 0;
  }

  .product_view_hero_section_title {
    font-size: 25px !important;
    font-weight: 700;
    margin-top: 20px;
  }

  .product_view_main {
    width: 95%;
    margin: 10px auto;
  }

  .product_view_image {
    width: 305px;
    height: auto;
    margin-top: 10px;
  }
}

/* HERO SECTION COMPLETED */
/* TAB START */
.main_tab_section {
  width: 80%;
  margin: 50px auto;
}

.tab-btn {
  padding: 5px 25px;
  margin-top: 40px;
  height: 35px;
  font-size: 12px;
  font-weight: 600;
  color: blue;
  border-radius: 20px;
  border: 1px solid blue;
  margin-right: 20px;
}

.tab-btn.active {
  background-color: #1386d3;
  color: white;
  border: none;
}

.product_view_desc_title {
  font-family: Montserrat;
  font-size: 28px;
  font-weight: 800;
  line-height: 54px;
  margin-top: 20px;
  color: #1386d3;
}

.product_view_doc_title {
  font-family: Montserrat;
  font-size: 28px;
  font-weight: 800;
  line-height: 54px;
  margin-top: 20px;
  color: #1386d3;
}

.product_view_doc_title:after {
  content: "";
  width: 60px;
  height: 2px;
  display: block;
  background-color: #1386d3;
  margin: 10px 0px;
}

.product_view_docs_main {
  display: flex;
  margin: 25px 0px;
}

.product_view_doc_thumbnail img {
  width: 30px;
}

.product_view_doc_thumbnail_title {
  margin-left: 15px;
  letter-spacing: 1px;
  font-family: Inter;
  font-size: 15px;
  font-weight: 400;
  line-height: 28px;
}

.product_view_doc_dowonload {
  padding: 6px 13px;
  border-radius: 50%;
  font-size: 12px;
  color: white;
  background-color: #1386d3;
  cursor: pointer;
  margin-left: 20px;
}

.product_view_photo_title {
  font-family: Montserrat;
  font-size: 25px;
  font-weight: 700;
  line-height: 54px;
  color: #1386d3;
  margin-top: 20px;
}

.product-view-title {
  font-family: Inter;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  margin-top: 10px;
}

.product_view_photo_title:after {
  content: "";
  width: 60px;
  height: 2px;
  display: block;
  background-color: #1386d3;
  margin: 5px 0px;
}

.product_view_images_gallary {
  padding: 5px;
}

.product_view_images_gallary img {
  width: 100%;
}

.product_view_youtube_icon i {
  position: absolute;
  top: 35%;
  left: 45%;
  color: red;
  background-color: rgb(203, 196, 196);
  padding: 10px 10px;
  border-radius: 100%;
}

@media screen and (max-width: 500px) {
  .tab-btn {
    margin: 10px 5px 0px 0px;
    padding: 4px 20px;
    height: 35px;
    font-size: 10px;
    font-weight: 700;
  }

  .main_tab_section {
    width: 95%;
  }

  .product_view_desc_title {
    line-height: 40px;
    font-size: 25px;
  }

  .product_view_desc_desc {
    margin-top: 20px;
  }

  .product_view_doc_title {
    font-size: 18px;
    line-height: 30px;
  }

  .product_view_doc_dowonload {
    margin: 0px 0px 0px 5px;
  }

  .product_view_images_gallary img {
    width: 350px;
    padding: 0;
    margin: 0;
  }

  .product_view_images_gallary {
    /* padding: 5px; */
    width: 95%;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 500px) and (max-width: 767px) {
  .tab-btn {
    margin: 10px 5px 0px 0px;
    padding: 4px 20px;
    height: 35px;
    font-size: 10px;
    font-weight: 700;
  }

  .main_tab_section {
    width: 80%;
  }

  .product_view_desc_title {
    line-height: 40px;
    font-size: 25px;
  }

  .product_view_desc_desc {
    margin-top: 20px;
  }

  .product_view_doc_title {
    font-size: 18px;
    line-height: 30px;
  }

  .product_view_doc_dowonload {
    margin: 0px 0px 0px 5px;
  }
}

@media only screen and (min-width: 320px) and (max-width: 500px) {
  .product_view_youtube_icon i {
    position: absolute;
    top: 35%;
    left: 40%;
  }

  .product-view-title {
    font-family: Inter;
    font-size: 12px;
    font-weight: 600;
    line-height: 24px;
    margin-top: 10px;
  }
}
@media only screen and (min-width: 500px) and (max-width: 1000px) {
  .product-view-title {
    font-family: Inter;
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
    margin-top: 10px;
  }
}

@media only screen and (min-width: 1000px) and (max-width: 1350px) {
  .product_view_youtube_icon i {
    position: absolute;
    top: 35%;
    left: 40%;
  }
}

/* TAB END */
