.three-first-pdf {
    display: flex;
    width: 80%;
    margin: 10px auto;
}

.one-ifrme {
    width: 100%;
}

.one-ifrme iframe {
    width: 350px;
    margin-left: 10px;
    margin-top: 20px;
}

.one-ifrme p {
    /* text-align: center; */
    font-size: 20px;
    font-weight: 600;
    margin-top: 20px;
    line-height: 33px;
}

.one-ifrme button {
    padding: 10px 20px;
    height: 40px;
    font-size: 15px;
    background-color: #1386D3;
    color: white;
    border-radius: 25px;
    cursor: pointer;
    margin-top: 15px;
}

@media only screen and (min-width:1150px) and (max-width:1370px) {
    .three-first-pdf {
        width: 95%;
        margin: 10px auto;
    }

    .one-ifrme {
        width: 100%;
    }

    .one-ifrme iframe {
        width: 350px;
        margin-left: 10px;
        margin-top: 20px;
    }
}


@media only screen and (min-width:700px) and (max-width:1150px) {
    .three-first-pdf {
        width: 50%;
        display: block;
        margin: 10px auto;
    }

    .one-ifrme {
        width: 100%;
    }

    .one-ifrme iframe {
        width: 450px;
        margin-left: 10px;
        margin-top: 20px;
    }
}

@media only screen and (min-width:624px) and (max-width:700px){
    .three-first-pdf {
        width: 70%;
        display: block;
        margin: 10px auto;
    }

    .one-ifrme {
        width: 100%;
    }

    .one-ifrme iframe {
        width: 450px;
        margin-left: 10px;
        margin-top: 20px;
    }
}
@media only screen and (min-width:500px) and (max-width:624px){
    .three-first-pdf {
        width: 90%;
        display: block;
        margin: 10px auto;
    }

    .one-ifrme {
        width: 100%;
    }

    .one-ifrme iframe {
        width: 450px;
        margin-left: 10px;
        margin-top: 20px;
    }
}
@media only screen and (min-width:400px) and (max-width:500px){
    .three-first-pdf {
        width: 90%;
        display: block;
        margin: 10px auto;
    }

    .one-ifrme {
        width: 100%;
    }

    .one-ifrme iframe {
        width: 350px;
        margin-left: 10px;
        margin-top: 20px;
    }
}
@media only screen and (min-width:310px) and (max-width:400px){
    .three-first-pdf {
        width: 95%;
        display: block;
        margin: 10px auto;
    }

    .one-ifrme {
        width: 100%;
    }

    .one-ifrme iframe {
        width: 280px;
        margin-left: 10px;
        margin-top: 20px;
    }
}