/* ADMIN LOGIN COMPONENT CSS */
.login_form_box {
  width: 450px;
  padding: 4%;
  background: #191919;
  transition: 0.25s;
  position: absolute;
  left: 33%;
  text-align: center;
  top: 20%;
  border-radius: 15px;
}
.text-white {
  color: white;
}
.username_input {
  background-color: transparent;
  margin-top: 10px;
  display: block;
  text-align: center;
  padding: 10px 15px;
  color: white;
  border-radius: 12px;
  outline: 0;
}
.login_btn {
  padding: 8px 18px;
  display: block;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  border: 2px solid #2ecc71;
  background-color: transparent;
}
.login_btn:hover {
  background: #2ecc71;
}

.login_form_box input[type="text"],
.login_form_box input[type="password"] {
  margin: 20px auto;
  border: 2px solid #3498db;
  width: 250px;
  transition: 0.25s;
}

.login_form_box input[type="text"]:focus,
.login_form_box input[type="password"]:focus {
  width: 300px;
  border-color: #2ecc71;
}

.login_form_box input[type="submit"] {
  margin: 20px auto;
  border: 2px solid #2ecc71;
  transition: 0.25s;
}

.content_add_btn_section button {
  width: 140px;
  height: 40px;
  background-color: #b5bbfe;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
}
.content_add_btn_section button i {
  margin-right: 3px;
}
.content_add_btn_section button:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.admin_category_table {
  padding: 18px;
}
.admin_category_table table {
  width: 100%;
  border-collapse: collapse;
  background-color: var(--fourth-color);
  table-layout: fixed;
}

.admin_category_table th {
  font-weight: 600;
  padding: 10px;
  font-size: 14px;
  text-align: left;
  background-color: #b5bbfe;
}

.admin_category_table th,
.admin_category_table td {
  border: 1px solid #ddd;
}
.admin_category_table td {
  padding: 4px 10px;
  word-break: break-all;
  font-size: 14px;
}
.admin_category_table tbody tr td .dropdown {
  position: relative;
  top: 8px;
  margin: 0;
}
.admin_category_table tbody tr:hover {
  background-color: var(--third-color);
}
.tabel_data_image {
  width: 50px;
  height: auto;
}
.modal_data_image {
  width: 5%;
  height: auto;
}

@media only screen and (max-width: 770px) {
  .login_form_box {
    width: 70% !important;
    left: 20% !important;
    top: 20% !important;
  }
  .login_form_box input[type="text"]:focus,
  .login_form_box input[type="password"]:focus {
    width: 100%;
    border-color: #2ecc71;
  }
  .admin_category_table td {
    padding: 5px !important;
  }
  .admin_logOut_btn {
    margin-top: 10px;
  }
  .admin_page_header {
    font-size: 16px;
  }
  .admin_page_top p i,
  span {
    font-size: 10px;
  }
  .admin_category_table {
    margin-right: 18px;
    display: block;
    overflow-x: scroll;
  }
  .content_add_btn_section button {
    width: 100px;
    height: 30px;
    font-size: 12px;
  }
  .content_add_btn_section {
    float: none;
  }
  .add_modal {
    width: 80% !important;
    left: 10% !important;
  }
  .logOut_modal_section {
    width: 90% !important;
    top: 40% !important;
    left: 3% !important;
  }
  .delete-modal {
    top: 40% !important;
    left: 10% !important;
    width: 100% !important;
    height: 100% !important;
  }
  .delete_modal_content {
    max-width: 70% !important;
  }
  .delete_modal_content p {
    margin-top: 5px !important;
  }
  .delete_modal_content #delete-button {
    left: 70% !important;
    margin-top: 10px;
  }
  .delete_modal_content #close-modal {
    right: 8px !important;
    top: 0px !important;
  }
}

/* add moadl */
.add_modal {
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  background-color: white;
  width: 500px;
  margin: auto;
  position: absolute;
  top: 10%;
  left: 26%;
  border-radius: 10px;
  overflow: hidden;
  padding: 10px 16px;
  display: none;
}
.add_modal.open {
  display: block !important;
}
.add_modal-content h2 {
  text-align: center;
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid grey;
}
.add_modal-content .modal_close_btn {
  background-color: transparent;
  border: 1px solid var(--third-color);
  height: 25px;
  width: 25px;
  font-size: 20px;
  position: absolute;
  top: 16px;
  right: 16px;
  cursor: pointer;
}
form .mb-3 {
  margin-bottom: 14px;
}
form .modal_label {
  display: block;
  font-size: 14px;
  margin-bottom: 8px;
  font-weight: 600;
}
form .modal_input {
  padding: 7px 8px;
  border: 1px solid var(--third-color);
  border-radius: 4px;
  width: 100%;
  outline: 0;
}
form textarea {
  max-width: 100%;
}
form .modal_input:hover {
  border: 1px solid var(--primary-color);
}
form .modal_input:focus {
  border: 1px solid var(--primary-color);
}
.success_btn {
  background-color: var(--primary-color);
  padding: 8px 13px;
  border-radius: 5px;
  color: var(--fourth-color);
  cursor: pointer;
  /* float: inline-end; */
  letter-spacing: 1px;
}
.success_btn:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.cancel_btn {
  background-color: rgb(189, 28, 28);
  margin-left: 10px;
}
.add_modal_close {
  z-index: -9999;
}

/* ADD DATA PAGES */
.add_data_form {
  background-color: white;
  padding: 20px;
  margin-bottom: 10px;
}
.meta_main_section {
  display: flex;
  flex-wrap: wrap;
}
.meta_tag_section {
  display: flex;
  width: auto;
  background-color: var(--third-color);
  border-radius: 5px;
  padding: 6px 10px;
  justify-content: space-between;
  margin-right: 15px;
  margin-bottom: 10px;
}
.meta_tag_text {
  display: flex;
  align-items: center;
}
.meta_remove_icon {
  border: 1px solid;
  height: 20px;
  width: 20px;
  text-align: center;
  display: flex;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
  margin-left: 15px;
  padding: 0px 4px;
  font-size: 14px;
}
.view_data_sections {
  margin-bottom: 12px;
}
.view_data_sections span {
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
}
.view_data_sections p {
  background-color: var(--third-color);
  padding: 5px 10px;
  border-radius: 4px;
  margin-top: 6px;
}
/* log out modal */
.logOut_modal_section {
  background-color: var(--fourth-color);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  width: 350px;
  position: absolute;
  top: 25%;
  left: 35%;
  z-index: 999;
  padding: 20px 17px;
  border-radius: 10px;
}
.logOut_modal_section p {
  font-size: 20px;
}
.logOut_modal_section button {
  background-color: transparent;
  padding: 7px 12px;
  border-radius: 7px;
  border: 1.5px solid var(--primary-color);
  cursor: pointer;
  margin-top: 20px;
  margin-left: 10px;
  float: inline-end;
  font-weight: 600;
}
.logOut_modal_section button:hover {
  background-color: var(--primary-color);
  color: white;
}

/* delete modal */
.delete-modal {
  position: fixed;
  top: 40%;
  width: 100%;
  height: 100%;
  z-index: 999;
}
.delete_modal_hidden {
  display: none;
}
.delete_modal_content {
  background: var(--fourth-color);
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  max-width: 400px;
  margin: 0 auto;
  position: relative;
}

.delete_modal_content p {
  color: #999;
  margin-top: 1rem;
}

.delete_modal_content button {
  outline: none;
  cursor: pointer;
  border: none;
}

.delete_modal_content #close-modal {
  position: absolute;
  right: 15px;
  top: 8px;
  font-size: 1.5rem;
  color: #999;
  background: transparent;
}

.delete_modal_content #delete-button {
  position: relative;
  left: 80%;
  background: linear-gradient(to right, #3b82f6, #2563eb, #2563eb, #3b82f6);
  color: white;
  border: none;
  border-radius: 8px;
  font-weight: 600;
  font-size: 0.875rem;
  padding: 10px 16px;
  margin-top: 10px;
}

.delete_modal_content #delete-button:hover {
  background: linear-gradient(to bottom right, #3b82f6, #2563eb);
}

.loading::before {
  position: absolute;
  content: "";
  background-color: var(--third-color);
  left: 0;
  top: 0;
  right: 0;
  width: 100%;
  height: 4px;
  animation: progressbar 3s linear infinite;
  animation-delay: 0.3s;
  z-index: 100;
}

@keyframes progressbar {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

/* table operation */
.editbutton {
  background-color: #b5bbfe;
  padding: 7px 10px;
  border-radius: 4px 0px 0px 4px;
  cursor: pointer;
}
.dropdown {
  display: inline-block;
  position: relative;
}

.dd-button {
  border-radius: 0px 4px 4px 0px;
  height: 32px;
  width: 33.33px;
  background-color: #b5bbfe;
  cursor: pointer;
  border-left: 1px solid grey;
}

.dd-button:after {
  content: "";
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid black;
}
.dd-button:hover {
  background-color: #b5bbfe;
}

.dd-input {
  display: none;
}

.dd-menu {
  position: absolute;
  top: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  right: 0;
  margin: 2px 0 0 0;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  list-style-type: none;
  text-align: center;
  line-height: 1.3rem;
  color: black;
  padding: 5px 0px;
  z-index: 1;
  width: 100px;
}

.dd-input + .dd-menu {
  display: none;
}

.dd-input:checked + .dd-menu {
  display: block;
}

.dd-menu li {
  font-size: 12px;
  cursor: pointer;
  white-space: nowrap;
}
.dd-menu li button {
  background-color: transparent;
  height: 1rem;
  width: 60px;
  font-size: 12px;
  cursor: pointer;
}
.dd-menu li:hover,
.dd-menu li button:hover {
  text-decoration: underline;
}

/* tabs */
/* Tabs.css */
.tabs-container {
  width: 100%;
  padding: 0px 18px;
  margin-top: 15px;
}

.tabs {
  display: flex;
  background-color: transparent;
  border-radius: 5px 5px 0 0;
  justify-content: space-between;
}

.tab {
  padding: 9px 14px;
  font-size: 14px;
  text-align: center;
  color: black;
  cursor: pointer;
  border-bottom: none;
  border-radius: 4px 4px 0px 0px;
  transition: background-color 0.3s;
}

.tab:hover {
  border: 1px solid rgb(155, 153, 153);
  border-bottom: none;
  padding: 8.5px 13.4px;
  color: rgb(62, 116, 244);
}

.tab.active {
  border: 1px solid rgb(155, 153, 153);
  border-bottom: none;
  padding: 8.5px 13.4px;
}

.tab-content {
  display: none;
  border: 1px solid #b5bbfe;
  border-radius: 0 0 5px 5px;
  background-color: #fff;
}
.product_data_save_btn {
  background-color: var(--primary-color);
  height: 40px;
  width: 40px;
  border-radius: 5px;
  color: var(--fourth-color);
  cursor: pointer;
  letter-spacing: 1px;
  font-size: 18px;
  position: relative;
  top: -10px;
}
.tab-content.active {
  display: block;
}

.two_input_flex {
  display: flex;
  justify-content: space-between;
}

.multi-images-table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}
.multi-images-table thead {
  background-color: var(--third-color);
  text-align: justify;
}
.multi-images-table thead th {
  font-size: 14px;
  font-weight: 100;
}
.multi-images-table th,
td {
  padding: 6px 4px;
  border: 1px solid #ddd;
}
.multi-images-table td img {
  width: 70px;
  height: auto;
}
.multi-images-table td input {
  width: 85%;
  padding: 4px;
}
.multi-images-table td input:focus-visible {
  outline: 0;
}
.remove_multi_img_btn {
  background-color: #bd1c1c;
  color: white;
  border-radius: 4px;
  padding: 7px 10px;
  cursor: pointer;
}